In [1]:
import pandas as pd 
import seaborn as sb
import numpy as np

In [4]:
ER18=pd.read_csv(r'C:\Users\Rakesh\Desktop\Some Thing New\THE START\PERSONAL\ER-2018.csv')

In [5]:
ER18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3302 entries, 0 to 3301
Data columns (total 15 columns):
ORDER CODE        3302 non-null object
MOBILE            3274 non-null float64
COD               3302 non-null int64
Category          3302 non-null object
Invoice Code      3009 non-null object
city              3302 non-null object
state             3296 non-null object
SKU CODE          3302 non-null object
Item Type Name    3302 non-null object
Channel Name      3302 non-null object
MRP               3302 non-null int64
Total Price       3302 non-null float64
Selling Price     3302 non-null float64
Cost Price        3302 non-null float64
DATE              3302 non-null object
dtypes: float64(4), int64(2), object(9)
memory usage: 387.0+ KB

In [9]:
ER8=ER18.iloc[:,[0,1,3,7,9,11,14]]

In [13]:
ER8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3302 entries, 0 to 3301
Data columns (total 7 columns):
ORDER CODE      3302 non-null object
MOBILE          3274 non-null float64
Category        3302 non-null object
SKU CODE        3302 non-null object
Channel Name    3302 non-null object
Total Price     3302 non-null float64
DATE            3302 non-null object
dtypes: float64(2), object(5)
memory usage: 180.7+ KB

In [14]:
ER8['Channel Name'].value_counts()

ERINDIA      3245
FLIPKART       55
AMAZON_IN       2
Name: Channel Name, dtype: int64

In [15]:
ER=ER8[ER8['Channel Name']=='ERINDIA']

In [36]:
ER['MOBILE '].head()

0    9999203269
1    9718588913
2    9953727300
3    9741481033
4    9167979706
Name: MOBILE , dtype: object

In [40]:
ER.head()

,ORDER CODE,MOBILE,Category,SKU CODE,Channel Name,Total Price,DATE
0,6604,9999203269,BEDCOVER DOUBLE,HFBCDCOHBKWFL00104FCOOO,ERINDIA,1999.0,02-01-2018 12:11
1,6605,9718588913,JACKET FULL SLEEVES,APJAFCOHBQUFL00501JHOXL,ERINDIA,1299.0,02-01-2018 13:25
2,6606,9953727300,SAREE,APSARGGBNZRGM01201NBOOO,ERINDIA,2969.0,02-01-2018 19:39
3,6607,9741481033,SINGLE BEDSHEET,HFBSSCOSPKWFL00302SAOOO,ERINDIA,549.0,02-01-2018 20:59
4,6608,9167979706,CUSHION COVER,HFCCRSKHBPLLF00202JHO12,ERINDIA,129.0,04-01-2018 20:59

In [44]:
ER.groupby['MOBILE ','ORDER CODE'].agg({'Category':'count', 'Total Price':'sum','Total Price':'avg','DATE':'min'})

TypeError: 'method' object is not subscriptable

In [47]:
ER.shape

(3245, 7)

In [54]:
ER['MOBILE '].notnull().sum()

3245

In [56]:
ER['MOBILE '].isna().sum()

0

In [59]:
ER['MOBILE '].isnull().values.any()

False

In [65]:
np.count_nonzero(ER.isnull().values)

0

In [66]:
np.count_nonzero(ER.isnull())

0

In [68]:
ER.to_csv(r'C:\Users\Rakesh\Desktop\Some Thing New\THE START\PERSONAL/out-18.csv')

In [69]:
ER18c=pd.read_csv(r'C:\Users\Rakesh\Desktop\Some Thing New\THE START\PERSONAL/out-18.csv')

In [70]:
ER18c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3217 entries, 0 to 3216
Data columns (total 7 columns):
ORDER CODE      3217 non-null object
MOBILE          3217 non-null int64
Category        3217 non-null object
SKU CODE        3217 non-null object
Channel Name    3217 non-null object
Total Price     3217 non-null float64
DATE            3217 non-null object
dtypes: float64(1), int64(1), object(5)
memory usage: 176.0+ KB

In [71]:
ER18c.head()

,ORDER CODE,MOBILE,Category,SKU CODE,Channel Name,Total Price,DATE
0,6604,9999203269,BEDCOVER DOUBLE,HFBCDCOHBKWFL00104FCOOO,ERINDIA,1999.0,02-01-2018 12:11
1,6605,9718588913,JACKET FULL SLEEVES,APJAFCOHBQUFL00501JHOXL,ERINDIA,1299.0,02-01-2018 13:25
2,6606,9953727300,SAREE,APSARGGBNZRGM01201NBOOO,ERINDIA,2969.0,02-01-2018 19:39
3,6607,9741481033,SINGLE BEDSHEET,HFBSSCOSPKWFL00302SAOOO,ERINDIA,549.0,02-01-2018 20:59
4,6608,9167979706,CUSHION COVER,HFCCRSKHBPLLF00202JHO12,ERINDIA,129.0,04-01-2018 20:59

In [102]:
ER18g=ER18c.groupby(['MOBILE ','ORDER CODE'],as_index=False).agg({'Category':'count','SKU CODE':'count'
                                                                  ,'DATE ':'min','Total Price':'sum'})

In [105]:
m=ER18c.groupby(['MOBILE ','ORDER CODE'],as_index=False).agg({'Total Price':'mean'})

In [107]:
ER18g.shape

(1348, 6)

(1348, 3)

In [112]:
ORD18=pd.concat([ER18g,m],axis=1)

In [140]:
g=ER18c.groupby(['MOBILE ','ORDER CODE'],as_index=False).agg({'Category':'count','SKU CODE':'count'
                                                                  ,'DATE ':'min','Total Price':'sum',})

In [161]:
cust.shape

(1348, 6)

In [156]:
last_dt=cust['DATE '].max()

In [157]:
last_dt

'31-12-2018 18:20'

In [158]:
fst_ord=pd.DataFrame(cust.groupby(['MOBILE '])['DATE '].min())     # cal first purchse in df with mobile index

In [160]:
fst_ord.shape

(1049, 1)

In [162]:
lst_ord=pd.DataFrame(cust.groupby(['MOBILE '])['DATE '].max())

In [238]:
lst_ord1=cust.groupby(['MOBILE '],as_index=False).agg({'DATE ':[('First_purch','min'),('Last_Purch','max')]})

In [245]:
lst_ord1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1049 entries, 0 to 1048
Data columns (total 3 columns):
(MOBILE , )             1049 non-null int64
(DATE , First_purch)    1049 non-null object
(DATE , Last_Purch)     1049 non-null object
dtypes: int64(1), object(2)
memory usage: 32.8+ KB

In [250]:
F_pur=pd.DataFrame(cust.groupby(['MOBILE '])['DATE '].min())

In [252]:
F_pur.shape

(1049, 1)

(1348, 6)

In [200]:
dt=pd.concat([fst_ord,lst_ord],axis=1)

In [201]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1049 entries, 6280004996 to 9999939372
Data columns (total 2 columns):
DATE     1049 non-null object
DATE     1049 non-null object
dtypes: object(2)
memory usage: 64.6+ KB

In [197]:
last_dt

'31-12-2018 18:20'

In [198]:
dt.loc[:,'Date_Final']=last_dt

In [202]:
dt.head()

                       DATE              DATE
MOBILE
6280004996  26-10-2018 11:46  26-10-2018 12:20
6290074133  09-10-2018 13:08  09-10-2018 13:08
6290146492  06-11-2018 19:23  28-09-2018 18:44
6352254092  17-11-2018 16:55  17-11-2018 16:55
6385153323  30-09-2018 14:16  30-09-2018 14:16

In [178]:
cust['DATEint']=cust['DATE '].astype('int6

ValueError: invalid literal for int() with base 10: '26-10-2018 11:46'